body {
    margin: 0; /* Ensure no default margin */
    padding: 0; /* Ensure no default padding */
    display: flex;
    flex-direction: column;   
    height: 100vh; /* Ensure full viewport height */
}

canvas {
    display: none;
    border: 2px solid gold;
    box-sizing: border-box;
    max-width: 100%; /* Ensure canvas does not overflow */
    max-height: 80%; /* Adjust as needed */
    z-index: 2;
}
#score{
    position: fixed;
    top: 50%; 
    left: 40%;
    color: #ff742b;   
}

#arrowKeys {
            position: fixed;
            top: 55%;
            left: 50%;
            transform: translateX(-50%);
            color: #39b41e;
            background-color: #f2ebf4;
            border-radius: 30%;
            z-index: 1;           
        }   

        .row {
            display: flex;
            justify-content: center;
        }

        .arrow {
            font-size: 60px;
            margin: 15px;
            
        }

        #leftArrow, #rightArrow {
            margin-top: -42px;
        }
#score, #gameOver, #restartButton {
    display: none; /* Initially hide these elements */
}

#pb {
     position: fixed;
            top: 52%;
            right: 85%;
            font-size: 40px;
            border: none;
            border-radius: 1px;
}
#pauseButton {
    
    font-size: 35px;
    padding: 0px;
    border-radius: 5px;
    z-index: 3;
}
#gameOver {

position: fixed;
top: 45%;
left: 40%;
color: #ff2b35;
background-color: #ffa96a;
border-radius: 10px;
padding: 5px;
    
}
#restartButton {
            border: none;
            border-radius: 2px;  
            text-align: center;
            margin-top: 20px;
            cursor: pointer;
            display: none;
            position: fixed;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            background-color: #ffffff01;
            font-size: 50px;
            z-index: 5;
        }
        .a2a_kit {
                  position: fixed;
            top: 85%;
            left: 25%;
            gap: 5px;         
            color: #0081ff;    
        }

        #share {
                        position: relative;
            left: 25%;
        }

        #me{
            position: fixed;
            top: 80%;
            left: 30%; 
            color: #ff6a7fcc;    
        }

#mobileMessage {
            position: fixed;
            top: 85%;
            left: 15%;
            background: linear-gradient(to right, #ff5e00, #ffffff, #0cb300);
            border: none;
            color: #0003ffce;
            padding: 5px 10px;            
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;   
            border-radius: 12px;
        }

        body.dark {
            background-color: #131313;
        }

        #cbox {
            position: absolute;
            top: 51%;
            left: 80%;
            display: inline-block;
        }

        .checkbox {
            opacity: 0;
            position: fixed;
        }

        .checkbox-label {
            background-color: #8098ff;
            color: #ffe740;      
            width: 45px;
            height: 20px;
            border-radius: 50px;
            position: relative;
            padding: 5px;          
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

       
        .checkbox-label .ball {
            background-color: #8098ff;
            width: 22px;
            height: 22px;
            position: absolute;
            left: 2px;
            top: 4px;
            border-radius: 50%;
            transition: transform 0.2s linear;
        }

        .checkbox:checked + .checkbox-label .ball {
            transform: translateX(29px);
        }

       

        body.dark #arrowKeys {
            background-color: #605860e8;
            color: #fff; 
        }

        body.dark #score {
            color: #c36010e8;
        }

        body.dark #share {
            color: #fff; 
        }
        
        #startButton {
            background-color: #82bc6e;
            border: none;
            border-radius: 30%;
            padding: 5px 10px;
            text-align: center;
            font-size: 50px;
            color: white;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        #toggleSound {
            position: fixed;
            top: 80%;
            left: 80%;
            font-size: 40px;
            border: none;
            background-color: #f8f8f8;
            border-radius: 50%;
       }
        
        body.dark #toggleSound {
            background-color: #8f8f8f;
       }
       
      
